{{>header}}
<div class="jumbotron">
    <div class="container">
        <h1>Change Password Form</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form action="/changepasswordapi" method="post" role="form" enctype="application/x-www-form-urlencoded">
                <legend>Enter New Password</legend>
                <div class="form-group">
                    <label for="email">Enter Your old Password</label>
                    <input type="password" required class="form-control" name="oldpassword" id="oldpassword"
                        placeholder="Old Password">
                </div>
                <div class="form-group">
                    <label for="password">Enter Your new Password</label>
                            <input type="password" placeholder="New Password" required class="form-control"
                                name="newpassword" id="newpassword">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>