{{>header}}
<div class="jumbotron">
    <div class="container">
        <h1>Set Password</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form action="/setforgetpassword" method="post" role="form" enctype="application/x-www-form-urlencoded">
                <legend>Enter New Password Here</legend>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" placeholder="Password" required class="form-control" name="password" id="password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>